In [ ]:
a=[1,2,3]
print(a)

[1, 2, 3]

In [ ]:
import numpy as np
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [ ]:
b=a.append(1)
print(b)

None

In [ ]:
a.append('apple')
a.append('banana')
print(a)

[1, 2, 3, 4, 5, 1, 'apple', 'banana']

In [ ]:
a.insert(1,3)
print(a)

[1, 3, 3, 2, 3, 4, 5, 1, 'apple', 'banana']

In [ ]:
a.insert(5,'jayanthi')
a

[1, 3, 3, 2, 3, 'jayanthi', 4, 5, 1, 'apple', 'banana']

In [ ]:
a.remove(1)
a

[3, 3, 2, 3, 'jayanthi', 4, 5, 1, 'apple', 'banana']

In [1]:
print("TASK 1")

a=[10,20,30,40,50]
print("1. Elements in the list ",a)

b=a.append(60)
print("2. Append the values",b)

c=a.remove(30)
print("3. Remove values from the list",c)

d=a.insert(2,25)
print("4. Insert the values in 2 position",d)

c=a.sort(reverse=True)
print("5. Sort the values in descending order",c)

d=len(a)
print("6. Length of the list",d)

e=a[:-1]
print("7. Last elements in the list",e)

TASK 1
1. Elements in the list  [10, 20, 30, 40, 50]
2. Append the values None
3. Remove values from the list None
4. Insert the values in 2 position None
5. Sort the values in descending order None
6. Length of the list 6
7. Last elements in the list [60, 50, 40, 25, 20]

In [7]:
print("TASK 2")

a=["apple","banana","cherry","dates","berry"]
print("1. List of friuts:",a)

b=a.count('banana')
print("2. Count how many banana appears in the list:",b)

c=a.extend(["apple","banana"])
print("3. Merge the list:",c)

d=a[:-1]
print("4. Reverse the list:",d)

e=a.index("cherry")
print("5. Index of cherry:",e)

f=a.remove("dates")
print("6. Remove dates from the list:",f)

TASK 2
1. List of friuts: ['apple', 'banana', 'cherry', 'dates', 'berry']
2. Count how many banana appears in the list: 1
3. Merge the list: None
4. Reverse the list: ['apple', 'banana', 'cherry', 'dates', 'berry', 'apple']
5. Index of cherry: 2
6. Remove dates from the list: None

In [12]:
print("TASK 3")

a=list(range(1,10))
print("1. print the list values:",a)

b=a[:5]
print("2. First five element in the list: ",b)

c=a[-3:]
print("3. Last three element from the list:",c)

d=a[1:10:2]
print("4. Get every 2 number from the list:",d)

e=a[1:-1]
print("5. Remove first and last element from the list:",e)

TASK 3
1. print the list values: [1, 2, 3, 4, 5, 6, 7, 8, 9]
2. First five element in the list:  [1, 2, 3, 4, 5]
3. Last three element from the list: [7, 8, 9]
4. Get every 2 number from the list: [2, 4, 6, 8]
5. Remove first and last element from the list: [2, 3, 4, 5, 6, 7, 8]

In [18]:
print("TASK 4")

a=list(range(11,100,11))
print("1. Create a list of elements:",a)

b=a[3:8]
print("2. Elements from 3 to 7 elements:",b)

c=a[1:100:2]
print("3. Everyy 2 elements in the list:",c)

d=a.copy()
print("4. Duplicate copy of the original list:",d)

e=a.clear()
print("5. Clear all the elements form the original list:",e)

print("6. Check the original list and copy list:",a==d)

TASK 4
1. Create a list of elements: [11, 22, 33, 44, 55, 66, 77, 88, 99]
2. Elements from 3 to 7 elements: [44, 55, 66, 77, 88]
3. Everyy 2 elements in the list: [22, 44, 66, 88]
4. Duplicate copy of the original list: [11, 22, 33, 44, 55, 66, 77, 88, 99]
5. Clear all the elements form the original list: None
6. Check the original list and copy list: False