In [ ]:
print("TASK 1:")

a=tuple(range(10,60,10))
print("Create a tuple values:",a)

b=a[1:-1]
print("acess the 1 and last element of the tuple:",b)

c=a[1:5]
print("Fetch the values of 1 to 4 index:",c)

d=tuple(range(1,5,1))
print("concatenate of the tuples:",d+a)

e=len(a)
print("length of the tuple:",e)

f=20 in a #Type casting
print("check if an element exit in the tuple:",f)

TASK 1:
Create a tuple values: (10, 20, 30, 40, 50)
acess the 1 and last element of the tuple: (20, 30, 40)
Fetch the values of 1 to 4 index: (20, 30, 40, 50)
concatenate of the tuples: (1, 2, 3, 4, 10, 20, 30, 40, 50)
length of the tuple: 5
check if an element exit in the tuple: True

In [ ]:
print("TASK:2")

a=(10,20,30,20,40,20,50)
print("The tuple values are;",a)

b=a.count(20)
print("COunt occurance of element 20 in the tuple:",b)

c=a.index(40)
print("Index of element 40 in the tuple:",c)

TASK:2
The tuple values are; (10, 20, 30, 20, 40, 20, 50)
COunt occurance of element 20 in the tuple: 3
Index of element 40 in the tuple: 4

In [ ]:
print("TASK:3")

a=list(range(1,10))
b=tuple(a)
print("Convert list into Tuple:",b)

c=min(a)
print("Min value from the tuple:",c)

d=max(a)
print("Max value from the tuple:",d)

e=sum(a)
print("Sum of all elements from the tuple:",e)

TASK:3
Convert list into Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9)
Min value from the tuple: 1
Max value from the tuple: 9
Sum of all elements from the tuple: 45

In [4]:
print("TASK 4")

a=("Jayanthi")
b=tuple(a)
print("Convert string into tuple:",b)

c="".join(set(a))
print("remove duplicate values from the tuple:",c)

d=a+c
print("concatenate two tuples:",d)

e=a*3
print("Repeat the tuple three times:",e)

del a
print("Delete the tuple:",d)

TASK 4
Convert string into tuple: ('J', 'a', 'y', 'a', 'n', 't', 'h', 'i')
remove duplicate values from the tuple: hJiatny
concatenate two tuples: JayanthihJiatny
Repeat the tuple three times: JayanthiJayanthiJayanthi
Delete the tuple: JayanthihJiatny